# Ignorar backend-ai completo (si no lo quieres subido al repo de la cámara)
.env
*.env
backend-ai/.env

# Archivos pesados de modelos de IA (¡CRÍTICO para que GitHub no te bloquee!)
*.pt
*.onnx
*.engine
*.tflite

# Entornos virtuales y credenciales
venv/
.venv/
.env

# Archivos temporales de Python
__pycache__/
*.pyc